<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    {% include 'header.html' %}
    <section>
        <div class="form-structor">
            <div class="login">
                <h2 class="form-title">Forgot Password</h2>
                <form id="forgot-password-form" action="{{ url_for('forgot_password') }}" method="POST" class="form-holder">
                    <input type="email" name="email" id="email" class="input" placeholder="Enter your email address" required />
                    <button type="submit" id="send-button" class="submit-btn">Submit</button>
                </form>
                <p id="email-sent-message" style="display:none;">Email sent. Check your email.</p>
                <a href="{{ url_for('login') }}" class="btn-primary">Return to Login</a>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
    <script>
        document.getElementById('forgot-password-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting the default way

            const emailInput = document.getElementById('email');
            const sendButton = document.getElementById('send-button');
            const emailSentMessage = document.getElementById('email-sent-message');

            // Hide the email input and send button
            emailInput.style.display = 'none';
            sendButton.style.display = 'none';

            // Show the email sent message
            emailSentMessage.style.display = 'block';

            // Send the form data using Fetch API
            fetch("{{ url_for('forgot_password') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams(new FormData(this))
            }).then(response => {
                // Handle the response if needed
            }).catch(error => {
                // Handle any errors
            });
        });
    </script>
</body>
</html>
